body {
    background-image: url("../images/concrete_seamless.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #cccccc;
    clear: both;
}

#subheader {
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto 0 auto;
}

#name {
    float: left;
    background-color: #4aaaa5;
}

#navbar {
    float: right;
}

div#navbar ul {
    list-style-type: none;
    padding: 10px;
}

div#navbar ul li {
    display: inline;
    margin-right: .5em;
}

div#navbar ul li a {
    text-decoration: none;
}

a {
    color: #777777;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 22px;
    color: #ffffff;
    padding: 10px;
}

div#invisible {
    visibility: hidden;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #cccccc;
}

.noWrap {
    clear: both;
}

#main {
    max-width: 960px;
    margin: 20px auto 0 auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.teal {
    color: #4aaaa5;
    bottom-border: 1px solid #777777;
}

img {
    float: left;
    margin: 8px;
}

footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    color: #ffffff63;
    text-align: center;
    background-color: #666666;
    padding: 10px;
    border-top: 8px solid #4aaaa5;
}

div#wrapper {
    width: 960px;
    background-color: #ffffff;
    margin: auto;
    padding: 5px;
}

input[type="text"], textarea {
    margin-bottom: 5px; 
} 

input[type="submit"] {
    background-color: #4aaaa5;
    padding: 10px;
    color: #ffffff;
}

div#content {
    background-color: #ffffff;
    width: 960px;
    margin: 100px auto 20px auto;
}

img#img1, img#img2 {
    float: left;
}